.container{
    
    font-family: sans-serif;
    border: solid red;
    color: darkblue;
    text-align: center;
    font-size: 20px;
    background-color: rgb(245, 234, 234);
    font-style: italic;
}


.container-2
{
    border: solid gray;
    font-family: sans-serif;
    border: dotted saddlebrown;


}

.container-3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
letter-spacing: 1.6px;
word-spacing: 1.6px;
color: #9071FF;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;

}